Repository aragon/osx-commons, changes with the labels that .github/labeler.yml gives for each.
All labels: contracts, sdk, configs

Amending merge conflicts
  configs/src/networks/networks.ts
  configs/src/test/unit/networks.test.ts
Labels: configs

prepare bsc support
  configs/src/deployments/contracts.ts
  configs/src/deployments/json/bscMainnet.json
  configs/src/deployments/json/bscTestnet.json
  configs/src/networks/networks.ts
  configs/src/networks/types.ts
  configs/src/test/unit/networks.test.ts
Labels: configs

Add bscMainnet addresses of OSx 1.3.0
  configs/src/deployments/json/bscMainnet.json
Labels: configs

Add bscTestnet addresses of OSx 1.3.0
  configs/src/deployments/json/bscTestnet.json
Labels: configs

Adding Holesky's deployment for protocol 1.4 (#150)
  configs/src/deployments/json/holesky.json
Labels: configs

feat: adding Corn, Monad and Unichain
  configs/package.json
  configs/src/deployments/contracts.ts
  configs/src/deployments/json/corn.json
  configs/src/deployments/json/monadTestnet.json
  configs/src/deployments/json/unichain.json
  configs/src/networks/networks.ts
  configs/src/networks/types.ts
  configs/src/test/unit/networks.test.ts
Labels: configs

chore: updating the changelog
  configs/CHANGELOG.md
Labels: configs

fix: linting with prettier
  configs/src/deployments/contracts.ts
  configs/src/networks/networks.ts
  configs/src/networks/types.ts
  configs/src/test/unit/networks.test.ts
Labels: configs

Refactoring the configs publish workflow to be self sufficient and not require a tag
  .github/workflows/configs-publish.yml
  configs/src/deployments/json/agungTestnet.json
Labels: configs

Amending configs-publish.yml
  .github/workflows/configs-publish.yml
Labels: configs

feat: adding celo to the configs
  configs/CHANGELOG.md
  configs/package.json
  configs/src/deployments/contracts.ts
  configs/src/deployments/json/celo.json
  configs/src/networks/networks.ts
  configs/src/networks/types.ts
Labels: configs

chore: linter fixes
  configs/CHANGELOG.md
  configs/src/deployments/contracts.ts
  configs/src/networks/networks.ts
Labels: configs

Adding the addresses for Celo
  configs/CHANGELOG.md
  configs/package.json
  configs/src/deployments/json/celo.json
Labels: configs

Adding a script to generate the commons config JSON payload
  configs/sync-addresses.ts
Labels: configs

Functional import script
  configs/src/deployments/json/agungTestnet.json
  configs/src/deployments/json/peaq.json
  configs/sync-addresses.ts
Labels: configs

Tested address extraction script
  .gitignore
  configs/sync-factory-addresses.ts
Labels: configs

Factory artifact extraction ready
  configs/README.md
  configs/sync-factory-artifacts.ts
Labels: configs

Pretty
  configs/README.md
Labels: configs

Adding Optimism
  configs/README.md
  configs/src/deployments/json/optimism.json
  configs/sync-factory-artifacts-single.ts
Labels: configs

Linting TS files
  configs/tsconfig.json
Labels: configs

Adding Optimism as a network
  configs/CHANGELOG.md
  configs/package.json
  configs/src/deployments/contracts.ts
  configs/src/networks/networks.ts
  configs/src/networks/types.ts
Labels: configs

Adding the URL
  configs/src/networks/networks.ts
Labels: configs

Adding the addresses for Corn
  configs/CHANGELOG.md
  configs/package.json
  configs/src/deployments/json/corn.json
Labels: configs

Format
  configs/src/deployments/json/corn.json
Labels: configs

Adding the artifacts file for Avalanche testnet
  configs/CHANGELOG.md
  configs/package.json
  configs/src/deployments/json/avalanche-testnet.json
Labels: configs

Addinv the Avalanche testnet network
  configs/src/deployments/contracts.ts
  configs/src/networks/networks.ts
  configs/src/networks/types.ts
Labels: configs

Format
  configs/src/deployments/json/avalanche-testnet.json
Labels: configs

Adding Avalanche and Base Sepolia
  configs/src/deployments/contracts.ts
  configs/src/deployments/json/avalanche.json
  configs/src/deployments/json/baseSepolia.json
  configs/src/networks/networks.ts
  configs/src/networks/types.ts
Labels: configs

Version
  configs/CHANGELOG.md
  configs/package.json
Labels: configs

Format
  configs/src/deployments/json/avalanche.json
Labels: configs

Amending parameter order
  contracts/src/permission/condition/extensions/RuledCondition.sol
Labels: contracts

test(ruled-condition): catch _where/_who swap in IF_ELSE starting rule
  contracts/src/mocks/permission/condition/AddressCheckConditionMock.sol
  contracts/test/permission/condition/extensions/ruled-condition.ts
Labels: contracts

fix lint issue
  contracts/test/permission/condition/extensions/ruled-condition.ts
Labels: contracts

Update labbeler permissions
  .github/workflows/pull_request_labeler.yml
Labels: none

Adding the deprecation message
  README.md
Labels: none

.github/labeler.yml:

contracts:
  - changed-files:
      - any-glob-to-any-file:
          - 'contracts/**/*'
          - 'contracts/*'
          - '.github/workflows/contracts-*.yml'

sdk:
  - changed-files:
      - any-glob-to-any-file:
          - 'sdk/**/*'
          - 'sdk/*'
          - '.github/workflows/sdk-*.yml'

configs:
  - changed-files:
      - any-glob-to-any-file:
          - 'configs/**/*'
          - 'configs/*'
          - '.github/workflows/configs-*.yml'
