Repository aragon/osx-commons, changes with the labels that .github/labeler.yml gives for each.
All labels: contracts, sdk, subgraph, configs

.github/labeler.yml:

contracts:
  - ./contracts/**/*
  - ./contracts/*
  - ./.github/workflows/contracts-*.yml

sdk:
  - ./sdk/**/*
  - ./sdk/*
  - ./.github/workflows/sdk-*.yml

subgraph:
  - ./subgraph/**/*
  - ./subgraph/*
  - ./.github/workflows/subgraph-*.yml

configs:
  - ./configs/**/*
  - ./configs/*
  - ./.github/workflows/configs-*.yml

feat(configs): adds baseSepolia deployment
  configs/src/deployments/baseSepolia.json
  configs/src/index.ts
Labels: configs

fix(configs): renames contracts to a proper formatting
  configs/src/deployments/arbitrum.json
  configs/src/deployments/arbitrumSepolia.json
  configs/src/deployments/baseGoerli.json
  configs/src/deployments/baseMainnet.json
  configs/src/deployments/baseSepolia.json
  configs/src/deployments/goerli.json
  configs/src/deployments/mainnet.json
  configs/src/deployments/mumbai.json
  configs/src/deployments/polygon.json
  configs/src/deployments/sepolia.json
Labels: configs

cicd(configs): adds workflow to publish package
  .github/workflows/configs-publish.yml
Labels: configs

cicd: only run publish on correct tag
  .github/workflows/contracts-publish.yml
  .github/workflows/sdk-publish.yml
  .github/workflows/subgraph-publish.yml
Labels: contracts, sdk, subgraph

chore(configs): corrects version number
  configs/package.json
Labels: configs

chore(configs): corrects license
  configs/package.json
Labels: configs

deps(configs): updates typescript to 5.2.2
  configs/package.json
  configs/yarn.lock
Labels: configs

fix exports
  subgraph/package.json
  subgraph/src/ids/index.ts
  subgraph/src/index.ts
  subgraph/src/mocks/index.ts
  subgraph/src/utils/index.ts
Labels: subgraph

update changelog
  subgraph/CHANGELOG.md
Labels: subgraph

fix lint
  subgraph/CHANGELOG.md
Labels: subgraph

fix tests
  subgraph/src/mocks/token.ts
Labels: subgraph

Fix: Add missing exports (#35)
  subgraph/CHANGELOG.md
  subgraph/package.json
  subgraph/src/ids/index.ts
  subgraph/src/index.ts
  subgraph/src/mocks/index.ts
  subgraph/src/mocks/token.ts
  subgraph/src/utils/index.ts
Labels: subgraph

feat(configs): adds aliases for alchemy subgraphs
  configs/src/networks.json
Labels: configs

cicd(configs): adds it to the reusable-check-tag workflow
  .github/workflows/reusable-check-tag.yml
Labels: none

fix: use new IDAO
  contracts/src/interfaces/IDAO.sol
Labels: contracts

feat: add former voting helpers
  contracts/utils/hardhat-time.ts
  contracts/utils/proposal.ts
Labels: contracts

revert: remove osx dependency
  contracts/package.json
  contracts/src/governance/majority-voting/IMajorityVoting.sol
  contracts/src/governance/majority-voting/MajorityVotingBase.sol
  contracts/src/governance/proposal/IProposal.sol
  contracts/src/governance/proposal/Proposal.sol
  contracts/src/governance/proposal/ProposalUpgradeable.sol
  contracts/src/governance/token/erc20/GovernanceERC20.sol
  contracts/src/governance/token/erc20/GovernanceWrappedERC20.sol
  contracts/src/governance/token/erc20/IERC20MintableUpgradeable.sol
  contracts/src/governance/token/erc20/IGovernanceWrappedERC20.sol
  contracts/src/interfaces/IDAO.sol
  contracts/src/plugin/PlaceholderSetup.sol
  contracts/src/plugin/build-metadata.json
  contracts/src/test/Migrations.sol
  contracts/src/test/governance/MajorityVotingMock.sol
  contracts/src/test/token/TestGovernanceERC20.sol
  contracts/test/governance/majority-voting/majority-voting.ts
  contracts/test/governance/majority-voting/voting-helpers.ts
  contracts/test/governance/token/erc20/governance-erc20.ts
  contracts/test/governance/token/erc20/governance-wrapped-erc20.ts
  contracts/test/plugin/placeholder-version.ts
  contracts/yarn.lock
Labels: contracts

build: added version number to allow importing
  package.json
Labels: none

refactor: improve time constants
  sdk/src/constants.ts
Labels: sdk

refactor: renaming and changed folder structure
  contracts/src/plugin/setup/placeholder/PlaceholderSetup.sol
  contracts/src/plugin/setup/placeholder/placeholder-build-metadata.json
Labels: contracts

docs: add todo comment
  contracts/test/utils/math/ratio.ts
Labels: contracts

feat: refactored helpers
  contracts/test/utils/math/ratio.ts
  contracts/utils/hardhat-time.ts
  contracts/utils/interfaces.ts
  sdk/src/events.ts
  sdk/src/interfaces.ts
  sdk/src/ipfs.ts
  sdk/src/math.ts
  sdk/src/proposal.ts
  sdk/src/utils.ts
Labels: contracts, sdk

feat: added bitmap
  sdk/src/bitmap.ts
Labels: sdk

refactor: moved metadata into separate file
  sdk/src/metadata.ts
  sdk/src/utils.ts
  sdk/test/unit/interfaces.test.ts
  sdk/test/unit/metadata.test.ts
  sdk/test/unit/utils.test.ts
Labels: sdk

refactor: move over plugin and plugin setups as well as permissions
  contracts/src/permission/IPermissionCondition.sol
  contracts/src/permission/PermissionCondition.sol
  contracts/src/permission/PermissionConditionUpgradeable.sol
  contracts/src/permission/PermissionLib.sol
  contracts/src/permission/dao-authorizable/DaoAuthorizable.sol
  contracts/src/permission/dao-authorizable/DaoAuthorizableUpgradeable.sol
  contracts/src/permission/dao-authorizable/auth.sol
  contracts/src/plugin/IPlugin.sol
  contracts/src/plugin/Plugin.sol
  contracts/src/plugin/PluginCloneable.sol
  contracts/src/plugin/PluginUUPSUpgradeable.sol
  contracts/src/plugin/setup/IPluginSetup.sol
  contracts/src/plugin/setup/PlaceholderSetup.sol
  contracts/src/plugin/setup/PluginSetup.sol
  contracts/src/plugin/setup/build-metadata.json
  contracts/src/test/permission/PermissionConditionMock.sol
  contracts/src/test/plugin/CloneFactory.sol
  contracts/src/test/plugin/Cloneable/PluginCloneableMock.sol
  contracts/src/test/plugin/Cloneable/PluginCloneableSetupMock.sol
  contracts/src/test/plugin/Constructable/PluginMock.sol
  contracts/src/test/plugin/PluginMockData.sol
  contracts/src/test/plugin/TestPlugin.sol
  contracts/src/test/plugin/UUPSUpgradeable/PluginUUPSUpgradeableMock.sol
  contracts/src/test/plugin/UUPSUpgradeable/PluginUUPSUpgradeableSetupMock.sol
  contracts/src/test/utils/VersionComparisonLibTest.sol
  contracts/src/utils/deployment/Proxy.sol
  contracts/src/utils/versioning/IProtocolVersion.sol
  contracts/src/utils/versioning/ProtocolVersion.sol
  contracts/src/utils/versioning/VersionComparisonLib.sol
  contracts/test/permission/PermissionConditionMock.sol
  contracts/test/plugin/plugin-clonable.ts
  contracts/test/plugin/plugin-uups-upgradeable.ts
  contracts/test/plugin/plugin.ts
  contracts/test/plugin/setup/placeholder-setup.ts
  contracts/test/utils/math/ratio.ts
  contracts/utils/protocol-version.ts
  package.json
  sdk/src/types.ts
Labels: contracts, sdk

refactor: improve time helpers
  contracts/utils/hardhat-time.ts
Labels: contracts

fix: wrong import
  sdk/src/constants.ts
  sdk/test/unit/utils.test.ts
Labels: sdk

refactor: removed hardhat time
  contracts/utils/hardhat-time.ts
  sdk/src/constants.ts
Labels: contracts, sdk

refactor: event function
  sdk/src/events.ts
Labels: sdk

refactor: improved naming
  contracts/utils/hardhat-time.ts
Labels: contracts

refactor: moved events
  sdk/src/events.ts
Labels: sdk

chore(configs): change to cammelcase
  configs/src/deployments/arbitrum.json
  configs/src/deployments/arbitrumSepolia.json
  configs/src/deployments/baseGoerli.json
  configs/src/deployments/baseMainnet.json
  configs/src/deployments/baseSepolia.json
  configs/src/deployments/goerli.json
  configs/src/deployments/mainnet.json
  configs/src/deployments/mumbai.json
  configs/src/deployments/polygon.json
  configs/src/deployments/sepolia.json
Labels: configs
