Repository aragon/osx-commons, pull requests merged in 2024-01, with the labels that each got.

#38 feat(configs): exports networks properly typed with generics
  configs/package.json
  configs/src/index.ts
  configs/src/types.ts
Labels: configs-release

#41 Add: generic functions
  subgraph/CHANGELOG.md
  subgraph/package.json
  subgraph/src/ids/callbacks.ts
  subgraph/src/ids/dao.ts
  subgraph/src/ids/ids.ts
  subgraph/src/ids/index.ts
  subgraph/src/ids/permissions.ts
  subgraph/src/ids/plugin.ts
  subgraph/src/ids/proposal.ts
  subgraph/src/utils/constants.ts
  subgraph/tests/ids/permissions.test.ts
Labels: subgraph-release

#42 ci: fixes check tag to ignore semver additions
  .github/workflows/reusable-check-tag.yml
Labels: contracts-release

#44 feat(configs): adds helper function for networks and deployments
  .eslintrc.yml
  configs/CHANGELOG.md
  configs/jest.config.js
  configs/package.json
  configs/src/deployments/index.ts
  configs/src/deployments/sepolia.json
  configs/src/index.ts
  configs/src/networks.json
  configs/src/networks.ts
  configs/src/test/unit/deployments.test.ts
  configs/src/test/unit/networks.test.ts
  configs/src/types.ts
  configs/tsconfig.json
  configs/yarn.lock
Labels: configs-release

#49 docs(configs): adds readme for configs package
  configs/README.md
  sdk/README.md
Labels: configs
