Repository aragon/osx-commons, pull requests merged in 2024-04, with the labels that each got.

#69 feat: release subgraph commons
  subgraph/CHANGELOG.md
Labels: subgraph-release, subgraph

#71 feat: define the develop and main branch to run the actions on commit…
  .github/workflows/configs-tests.yml
  .github/workflows/contracts-tests.yml
  .github/workflows/sdk-tests.yml
  .github/workflows/subgraph-tests.yml
Labels: contracts, subgraph, sdk, configs

#72 OS-1223 Remove SDK 1.0 related code from osx-sdk
  sdk/CHANGELOG.md
  sdk/src/client-core.ts
  sdk/src/constants.ts
  sdk/src/context-core.ts
  sdk/src/context.ts
  sdk/src/index.ts
  sdk/src/internal/constants.ts
  sdk/src/internal/graphql-queries/index.ts
  sdk/src/internal/graphql-queries/plugin.ts
  sdk/src/internal/graphql-queries/status.ts
  sdk/src/internal/index.ts
  sdk/src/internal/interfaces.ts
  sdk/src/internal/modules/graphql.ts
  sdk/src/internal/modules/index.ts
  sdk/src/internal/modules/ipfs.ts
  sdk/src/internal/modules/web3.ts
  sdk/src/internal/types.ts
  sdk/src/schemas.ts
  sdk/src/types.ts
  sdk/src/utils.ts
  sdk/test/schemas.test.ts
  sdk/test/unit/client.test.ts
  sdk/test/unit/context.test.ts
Labels: sdk

#74 feat: bump OZ to v4.9.6
  .github/pull_request_template.md
  contracts/CHANGELOG.md
  contracts/package.json
  contracts/yarn.lock
Labels: contracts, contracts-release

#76 feat(sdk): add `getProtocolVersion` function
  sdk/CHANGELOG.md
  sdk/package.json
  sdk/src/errors.ts
  sdk/src/introspection.ts
  sdk/test/constants.ts
  sdk/test/mocks.ts
  sdk/test/unit/ens.test.ts
  sdk/test/unit/introspection.test.ts
Labels: sdk, sdk-release

#77 fix(sdk): `getProtocolVersion` function
  sdk/package.json
  sdk/src/introspection.ts
  sdk/test/mocks.ts
  sdk/test/unit/introspection.test.ts
Labels: sdk, sdk-release

#21 chore: change authors after AA dissolution
  configs/package.json
  contracts/src/dao/IDAO.sol
  contracts/src/permission/PermissionLib.sol
  contracts/src/permission/auth/DaoAuthorizable.sol
  contracts/src/permission/auth/DaoAuthorizableUpgradeable.sol
  contracts/src/permission/condition/IPermissionCondition.sol
  contracts/src/permission/condition/PermissionCondition.sol
  contracts/src/permission/condition/PermissionConditionUpgradeable.sol
  contracts/src/plugin/IPlugin.sol
  contracts/src/plugin/Plugin.sol
  contracts/src/plugin/PluginCloneable.sol
  contracts/src/plugin/PluginUUPSUpgradeable.sol
  contracts/src/plugin/extensions/governance/Addresslist.sol
  contracts/src/plugin/extensions/membership/IMembership.sol
  contracts/src/plugin/extensions/proposal/IProposal.sol
  contracts/src/plugin/extensions/proposal/Proposal.sol
  contracts/src/plugin/extensions/proposal/ProposalUpgradeable.sol
  contracts/src/plugin/setup/IPluginSetup.sol
  contracts/src/plugin/setup/PluginSetup.sol
  contracts/src/plugin/setup/PluginUpgradeableSetup.sol
  contracts/src/utils/deployment/ProxyFactory.sol
  contracts/src/utils/deployment/ProxyLib.sol
  contracts/src/utils/versioning/IProtocolVersion.sol
  contracts/src/utils/versioning/ProtocolVersion.sol
  contracts/src/utils/versioning/VersionComparisonLib.sol
  sdk/package.json
Labels: contracts, sdk, configs

#79 chore: use latest `osx-commons-sdk` and fix npm dependencies
  contracts/package.json
  contracts/test/plugin/extensions/proposal.ts
  contracts/test/plugin/plugin-clonable.ts
  contracts/test/plugin/plugin-uups-upgradeable.ts
  contracts/test/plugin/setup/plugin-setup.ts
  contracts/test/utils/deployment/proxy-lib.ts
  contracts/yarn.lock
Labels: contracts, contracts-release

#80 docs: added and improved `README.md`s
  README.md
  contracts/README.md
Labels: contracts
