Repository aragon/osx-commons, pull requests merged in 2024-02, with the labels that each got.

#52 fix: createWrappedERC20TokenCalls function
  subgraph/CHANGELOG.md
  subgraph/package.json
  subgraph/src/mocks/token.ts
Labels: subgraph-release, subgraph

#53 fix: update yarn lock
  .github/workflows/configs-tests.yml
  .github/workflows/contracts-tests.yml
  .github/workflows/sdk-tests.yml
  .github/workflows/subgraph-tests.yml
  subgraph/yarn.lock
Labels: subgraph-release

#54 feat: add new configs folder structure
  configs/src/deployments/contracts.ts
  configs/src/deployments/getters.ts
  configs/src/deployments/index.ts
  configs/src/deployments/json/arbitrum.json
  configs/src/deployments/json/arbitrumSepolia.json
  configs/src/deployments/json/baseGoerli.json
  configs/src/deployments/json/baseMainnet.json
  configs/src/deployments/json/baseSepolia.json
  configs/src/deployments/json/goerli.json
  configs/src/deployments/json/mainnet.json
  configs/src/deployments/json/mumbai.json
  configs/src/deployments/json/polygon.json
  configs/src/deployments/json/sepolia.json
  configs/src/deployments/types.ts
  configs/src/index.ts
  configs/src/networks/getters.ts
  configs/src/networks/index.ts
  configs/src/networks/networks.ts
  configs/src/networks/types.ts
  configs/src/test/unit/deployments.test.ts
  configs/src/test/unit/networks.test.ts
Labels: configs

#62 fix: mocks, missing permission ID, event name removal
  contracts/src/mocks/plugin/PluginSetupMock.sol
  contracts/src/mocks/plugin/PluginUUPSUpgradeableMock.sol
  contracts/src/mocks/plugin/PluginUUPSUpgradeableSetupMock.sol
  sdk/package.json
  sdk/src/events.ts
  sdk/src/permission.ts
Labels: contracts, subgraph, sdk, configs, sdk-release
