Repository aragon/osx-commons, pull requests merged in 2024-03, with the labels that each got.

#63 CI: remove push contraints for tests
  .github/workflows/configs-tests.yml
  .github/workflows/contracts-tests.yml
  .github/workflows/sdk-tests.yml
  .github/workflows/subgraph-tests.yml
  sdk/test/unit/context.test.ts
Labels: contracts, subgraph, sdk, configs

#64 chore: release `osx-commons-sdk` version `0.0.1-alpha.6`
  sdk/CHANGELOG.md
Labels: sdk, sdk-release

#61 feat: add ens resolving functions
  sdk/CHANGELOG.md
  sdk/package.json
  sdk/src/ens/index.ts
  sdk/src/ens/utils.ts
  sdk/src/index.ts
  sdk/test/unit/ens.test.ts
  sdk/yarn.lock
Labels: sdk, sdk-release

#57 feat: improve folder structure, add hex and plugin folders
  sdk/src/constants.ts
  sdk/src/context-core.ts
  sdk/src/encoding.ts
  sdk/src/errors.ts
  sdk/src/hex/address.ts
  sdk/src/hex/bytes.ts
  sdk/src/hex/constants.ts
  sdk/src/hex/errors.ts
  sdk/src/hex/index.ts
  sdk/src/hex/proposal.ts
  sdk/src/hex/strings.ts
  sdk/src/index.ts
  sdk/src/internal/modules/web3.ts
  sdk/src/plugin/errors.ts
  sdk/src/plugin/index.ts
  sdk/src/plugin/proposal.ts
  sdk/src/plugin/utils.ts
  sdk/src/utils.ts
  sdk/src/validation.ts
  sdk/test/constants.ts
  sdk/test/unit/encoding.test.ts
  sdk/test/unit/hex/address.test.ts
  sdk/test/unit/hex/bytes.test.ts
  sdk/test/unit/hex/proposal.test.ts
  sdk/test/unit/hex/strings.test.ts
  sdk/test/unit/plugin/proposal.test.ts
  sdk/test/unit/plugin/utils.test.ts
Labels: sdk

#65 feat: add in osx-commons used domains in osx
  .prettierignore
  configs/CHANGELOG.md
  configs/package.json
  configs/src/deployments/ens.ts
  configs/src/deployments/getters.ts
  configs/src/deployments/index.ts
  configs/src/deployments/types.ts
  configs/src/test/unit/deployments/deployments.test.ts
  configs/src/test/unit/deployments/ens.test.ts
Labels: configs, configs-release

#68 feat: update generateActionEntityId to include all of data on caller, dao, callId and actionIndex
  subgraph/CHANGELOG.md
  subgraph/package.json
  subgraph/src/ids/actions.ts
  subgraph/src/ids/index.ts
  subgraph/src/ids/proposal.ts
  subgraph/tests/ids/actions.test.ts
  subgraph/tests/ids/proposal.test.ts
Labels: subgraph
