Repository aragon/osx-commons, pull requests merged in 2025-02, with the labels that each got.

#126 Feature/docs
  .prettierignore
  .solhint.json
  configs/package.json
  configs/src/docs/templates/contract.hbs
  configs/src/docs/templates/helpers.js
  configs/src/docs/templates/page.hbs
  configs/src/docs/templates/properties.js
  contracts/README.adoc
  contracts/docs/antora.yml
  contracts/docs/config.js
  contracts/docs/modules/ROOT/nav.adoc
  contracts/docs/modules/ROOT/pages/index.adoc
  contracts/docs/modules/api/nav.adoc
  contracts/docs/modules/api/pages/osx-commons.adoc
  contracts/docs/templates/common.hbs
  contracts/docs/templates/contract.hbs
  contracts/docs/templates/enum.hbs
  contracts/docs/templates/error.hbs
  contracts/docs/templates/event.hbs
  contracts/docs/templates/function.hbs
  contracts/docs/templates/helpers.ts
  contracts/docs/templates/modifier.hbs
  contracts/docs/templates/page.hbs
  contracts/docs/templates/struct.hbs
  contracts/docs/templates/user-defined-value-type.hbs
  contracts/docs/templates/variable.hbs
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/scripts/gen-nav.js
  contracts/scripts/prepare-docs.sh
  contracts/src/dao/IDAO.sol
  contracts/yarn.lock
Labels: contracts, configs

#127 prettier and eslints fixed
  .github/workflows/formatting-linting.yml
  configs/.eslintrc.yml
  contracts/.eslintrc.yml
  contracts/docs/config.js
Labels: contracts, configs

#131 fix: fix sdk-test workflow
  .github/workflows/sdk-tests.yml
Labels: sdk

#130 Fix: Upload to IPFS with an explicit JWT
  .env.example
  .github/workflows/artifacts-build.yml
  .github/workflows/configs-tests.yml
  .github/workflows/contracts-tests.yml
  .github/workflows/formatting-linting.yml
  .github/workflows/sdk-tests.yml
  sdk/CHANGELOG.md
  sdk/package.json
  sdk/src/ipfs.ts
  sdk/test/unit/ipfs.test.ts
  sdk/yarn.lock
Labels: contracts, sdk, configs, sdk-release

#132 feat: add pinnata
  .github/workflows/sdk-publish.yml
Labels: sdk, sdk-release

#133 Fix: define pinnata on sdk publish workflow
  .github/workflows/packages-release.yml
  .github/workflows/sdk-publish.yml
Labels: sdk, sdk-release

#134 Fix: define pinnata on sdk publish workflow
  .github/workflows/reusable-publish.yml
  .github/workflows/sdk-publish.yml
Labels: sdk, sdk-release

#135 Fix: define pinnata on sdk publish workflow
  .github/workflows/sdk-publish.yml
Labels: sdk, sdk-release
